 <div class="card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="precoStr">De</label>
                <input type="number" id="precoStr" class="form control">
            </div>
            <div class="form-group">
                <label for="precoEnd">Ate</label>
                <input type="number" id="precoEnd" class="form control">
            </div>
            <!-- Implementar um slider ?  -->
            <div class="form-group"></div>

            <button class="btn btn-primary btn-block btn-sm">Filtrar</button>
        </form>
    </div>
 </div>