<section class="wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Lista de Tarefas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="form-field">
                <mat-label>Tarefa:</mat-label>
                <input type="text" #task matInput placeholder="Digite sua tarefa" (keyup.enter)="addTask(task.value); task.value = '' ">
            </mat-form-field>
            <mat-list role="list">
                <div *ngFor="let task of tasks">
                    <ass-todo-item [task]="task" (remove)="removeTask($event)"></ass-todo-item>
                </div>
              </mat-list>
        </mat-card-content>
    </mat-card>
</section>