
<header>
  
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a [routerLink]="['/produtos']" class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Quem somos</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Produtos</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Suporte</a>
    </nav>
    <div>
      
      <a class="btn btn-outline-primary" href="#">Login</a>
      <button [routerLink]="['/carrinho']">
        <i class="fa-solid fa-cart-shopping h-100"></i>
      </button>

    </div>
  </div>
  </header>     
