* {
    background: palevioletred;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

#listaTasks {
    display: flex;
    flex-direction: column;
}

input[type=checkbox]:checked + label{
    color: red;
    text-decoration: line-through;
}

input + label{
    color:blue;
}